- $pathSlimSite = "../assets/slim/"

== Slim::Template.new($pathSlimSite + '_variables.slim').render

/! Plugin js

/! js placeholder HTML5 Placeholder jQuery Plugin
script src="#{$sitejsv}jquery.placeholder.min.js"

/!  Motion UI - A Sass library for creating CSS transitions and animations 
script src="#{$sitejsv}motion-ui.js"

/!  A global utility for tracking the current input method (mouse, keyboard or touch).
script src="#{$sitejsv}what-input.min.js"

// boostrap load plugin
//== Slim::Template.new($pathSlimSite + 'base/_foundation.slim').render

// zurb foundation load plugin
== Slim::Template.new($pathSlimSite + 'base/_foundation.slim').render



/! Theme js
link rel="stylesheet" href="#{$sitejst}main.js"

/! LiveReload Plugin
script src="//localhost:35729/livereload.js"