- $pathSlimSite = "../assets/slim/"

== Slim::Template.new($pathSlimSite + '_variables.slim').render

/! js foundations
script src="#{$sitejsv}foundation/foundation.core.js"
script src="#{$sitejsv}foundation/foundation.util.mediaQuery.js"
script src="#{$sitejsv}foundation/foundation.util.keyboard.js"
script src="#{$sitejsv}foundation/foundation.util.timerAndImageLoader.js"
script src="#{$sitejsv}foundation/foundation.util.box.js"
script src="#{$sitejsv}foundation/foundation.util.motion.js"
script src="#{$sitejsv}foundation/foundation.util.nest.js"
script src="#{$sitejsv}foundation/foundation.util.triggers.js"
script src="#{$sitejsv}foundation/foundation.responsiveMenu.js"
script src="#{$sitejsv}foundation/foundation.tabs.js"
script src="#{$sitejsv}foundation/foundation.accordion.js"
script src="#{$sitejsv}foundation/foundation.accordionMenu.js"
script src="#{$sitejsv}foundation/foundation.dropdown.js"
script src="#{$sitejsv}foundation/foundation.abide.js"
script src="#{$sitejsv}foundation/foundation.reveal.js"

/! js call foundations
javascript:
  (function($) {
      $(document).foundation();
 }(jQuery));