- $pathSlimSite = "../assets/slim/"

== Slim::Template.new($pathSlimSite + '_variables.slim').render

/! js foundations
script src="#{$sitejsv}foundation/foundation.core.js"
script src="#{$sitejsv}foundation/foundation.util.box.js"
script src="#{$sitejsv}foundation/foundation.util.keyboard.js"
script src="#{$sitejsv}foundation/foundation.util.mediaQuery.js"
script src="#{$sitejsv}foundation/foundation.util.timerAndImageLoader.js"
script src="#{$sitejsv}foundation/foundation.util.touch.js"
script src="#{$sitejsv}foundation/foundation.util.triggers.js"

/! js call foundations
javascript:
  (function($) {
      $(document).foundation();
 }(jQuery));