- $pathSlimSite = "../assets/slim/"

== Slim::Template.new($pathSlimSite + '_variables.slim').render

meta charset="utf-8"
meta http-equiv="x-ua-compatible" content="ie=edge,requiresActiveX=true"
meta name="viewport" content="width=device-width, initial-scale=1"