- $pathSlimSite = "../assets/slim/"

== Slim::Template.new($pathSlimSite + '_variables.slim').render

/! social tag

/! Facebook Open Graph data
// https://developers.facebook.com/docs/sharing/opengraph
meta property="fb:app_id" content="123456789"
meta property="og:url" content="http://www.example.com/path/to/page.html"
meta property="og:type" content="website"
meta property="og:title" content=""
meta property="og:image" content="http://www.example.com/path/to/image.jpg"
meta property="og:description" content=""
meta property="og:site_name" content=""
meta property="article:author" content=""

/! Twitter Cards
// https://dev.twitter.com/docs/cards
meta name="twitter:site" content=""
meta name="twitter:creator" content=""
meta name="twitter:title" content=""
meta name="twitter:description" content=""

/! Google+ / Schema.org
// Tools google for testing page
// https://developers.google.com/structured-data/testing-tool/
link rel="author" href=""
link rel="publisher" href=""
meta itemprop="name" content=""
meta itemprop="description" content=""
meta itemprop="image" content=""