- $site = "../"
- $assets = "assets/"
- $sitecss = $site+ $assets + "css/"
- $sitejs = $site + $assets + "js/"
- $sitejst = $site + $assets + "js/theme/"
- $sitejsv = $site + $assets + "js/vendor/"
- $siteimg = $site + $assets + "images/"
- $link = "http://www.google.it/"

// example use
// == Slim::Template.new($pt + '/file.slim').render