/* ==========================================================================
   Framework
   ========================================================================== */
//
//
// uncomment one the following lines for choose a framework
//
// the following variable are pallets colors
//
// $primary-color
// $secondary-color
// $success-color
// $warning-color
// $alert-color
//
@import "framework-bootstrap";

//@import "framework-foundation";




/* ==========================================================================
   Base styles
   ========================================================================== */

@import "base";

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Vendor
   ========================================================================== */

@import "components";
@import "layout";
@import "molecules";
@import "organism";
@import "pages";
@import "vendors";

/* ==========================================================================
   Theme
   ========================================================================== */

@import "themes";

/* ==========================================================================
   Helper
   ========================================================================== */

@import "helpers";
