/* ==========================================================================
   Framework
   ========================================================================== */
@import "foundation";
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-callout;
@include foundation-visibility-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-menu;
@include foundation-tabs;
@include foundation-dropdown;
@include foundation-breadcrumbs; 
@include foundation-reveal;
@include foundation-switch;

@import "bourbon";
@import "susy";
@import "breakpoint";









/* ==========================================================================
   Base styles
   ========================================================================== */
@import "base";









/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}










/* ==========================================================================
   Vendor
   ========================================================================== */











/* ==========================================================================
   Theme
   ========================================================================== */











/* ==========================================================================
   Helper
   ========================================================================== */