/* ==========================================================================
   Framework
   ========================================================================== */

// turn off or on the project framework
// all the elements, of individual frameworks are managed by framework.scss
@import "framework";




/* ==========================================================================
   Base styles
   ========================================================================== */

@import "base";





/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Vendor
   ========================================================================== */

//@import "components";
@import "helpers";
@import "layout";
@import "molecules";
@import "organism";
@import "pages";
@import "themes";
@import "vendors";




/* ==========================================================================
   Theme
   ========================================================================== */





/* ==========================================================================
   Helper
   ========================================================================== */