- var pathSlimSite = "../assets/slim/"

include ./_variables.jade

/[if lt IE 8]
	p.browserupgrade
		|	You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.