- var pathSlimSite = "../assets/slim/"

include ./_variables.jade

meta charset="utf-8"
meta http-equiv="x-ua-compatible" content="ie=edge,requiresActiveX=true"
meta name="viewport" content="width=device-width, initial-scale=1"