- var pathSlimSite = "../assets/slim/"

include ./_variables.jade

/! Place favicon.ico in the root directory

// icon screen mobile
link rel="apple-touch-icon" href="apple-touch-icon.png"
meta name="mobile-web-app-capable" content="yes"