- $site 		= "../"
- $assets 	= "assets/"
- $sitecss 	= $site + "css/"
- $sitejs 	= $site + "js/"
- $sitejst 	= $site  + "js/theme/"
- $sitejsv 	= $site  + "js/vendor/"
- $siteimg 	= $site  + "images/"
- $siteimgv 	= $site  + "images/vendor/"
- $link 		= "http://www.google.it/"

// example use
// == Slim::Template.new($pt + '/file.slim').render