- var site 		= "../"
- var assets 	= "assets/"
- var sitecss 	= $site + "css/"
- var sitecsssrc 	= $sitecss + "src/"
- var sitecssdest 	= $sitecss + "dest/"
- var sitejs 	= $site + "js/"
- var sitejst 	= $site  + "js/theme/"
- var sitejsv 	= $site  + "js/vendor/"
- var siteimg 	= $site  + "images/"
- var siteimgv 	= $site  + "images/vendor/"
- var link 		= "http://www.google.it/"


// folder css 
// src for the development
	- var folder = "src"

//
// or
//

// dest for the delivery
	//- var folder = "dest"


////////////////////////////////////////////////////////////////////////
//
// Example load partial file
//
// include ./nome-file.jade