// 
// Essential styles of the global elements
//
// Colors - Listi of color
// Fonts - Font famyli and style
// Animations - Style and type
// Visibility - Visibility classes let you show or hide elements based on screen size or device orientation
//